.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 1 0;
}

.tab-pane.nobar .tab-header-area {
    -fx-pref-height: 0;
    visibility: hidden;
}

